<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CS 348 CD Exercise</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>CS 348 CD Exercise</h1>
<p th:text="${result0}" />
<p th:text="${result1}" />
<p th:text="${result2}" />
<p th:text="${result3}" />
<p th:text="${result4}" />
<p th:text="${result5}" />
<p th:text="${result6}" />
<p th:text="${result7}" />
<p th:text="${result8}" />
<p th:text="${result9}" />
</body>
</html>